#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  min-width: 500px;
  width: 80%;
  max-width: 1280px;
  z-index: 4;
  margin: 0 auto;
  padding: 10px 25px;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  border-radius: 0 0 8px 8px;
  background-color: #1f1f1f;
  filter: drop-shadow(5px 5px 10px #0c0c0c);
}

.counter {
  font-size: 30px;
  /* border: 1px solid #ff00ff; */
  width: 60px;
  padding: auto 10px;
  margin: auto 10px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  
  box-sizing: border-box;
  min-width: 500px;
  width: 80%;
  max-width: 1280px;
  margin: 80px auto 40px;
  padding: 10px 30px;

  background-color: #1f1f1f;
  border-radius: 8px;
  filter: drop-shadow(5px 5px 10px #0c0c0c);
}

li {
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.hidden {
  display: none; 
  visibility: hidden;
  height: 0;
  width: 0;
}

input[type="checkbox"] {
  min-width: 25px;
  min-height: 25px;
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

label{
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
}

span {
  margin: auto 5px;
}

.consentForm {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  min-width: 500px;
  width: 80%;
  max-width: 1280px;
  z-index: 4;
  margin: 0 auto;
  padding: 10px 25px;
  
  border-radius: 8px 8px 0 0;
  background-color: #1f1f1f;
  filter: drop-shadow(5px 5px 10px #0c0c0c);
}

.buttonBar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.acceptButton {
  background-color: #60c452;
  margin: 5px;
}

.rejectButton {
  background-color: #a33f3f;
  margin: 5px;
}

.footer {
  font-size: 14px;
}